.botonesTestSelector {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  cursor: pointer;
}

.testButtonTestSelector {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  cursor: pointer;
}

.userButtonTestSelector {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  cursor: pointer;
}

.skillls-p{
  color: #ffffff;
  font-weight: bold;
}